/* style.css */

@import url("./reset.css");

:root {
  /* variables */
  --spacing: 1rem;
  /* debugging */
  * {
    /* outline: solid red 1px; */
    background-color: beige;
  }
}

body {
  padding: var(--spacing);
}

form#form-1 {
  width: max-content;
  margin: auto;

  legend {
    margin-left: var(--spacing);
    /* margin-bottom: -0.5rem; */
  }

  #required-fields-message {
    padding-left: var(--spacing);
    font-style: italic;
    font-size: smaller;
    color: red;
  }

  .form-field-lines-container {
    margin: var(--spacing);
  }
}
